html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-image: url("/src/assets/images/WS_Hintergrundbild.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MenuContainer {
  width: 1200px;
  height: 800px;
  /* background-color: azure; */
  background-color: rgba(240, 255, 255, 60%);
  /* opacity: 60%; */
  border-radius: 16px;
  display: flex; /* Aktiviert Flexbox */
  flex-direction: column; /* Elemente vertikal anordnen */
}

.CrownBar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -110px;
}
.crown {
  width: 50%;
}
.crownContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crownText {
  display: block;
  position: absolute;
  font-size: 3em;
}

.InsideContainer {
  position: relative;
  top: -10%;
  display: flex; /* Aktiviert Flexbox */
  flex-direction: row; /* Elemente vertikal anordnen */
  align-items: center; /* Zentriert die Items horizontal */
  justify-content: center; /* Optional: Zentriert die Items vertikal (falls nötig) */
  height: 100%; /* Optional: Container kann volle Höhe einnehmen */
  gap: 50px; /* Abstand zwischen den Items */
}

.level {
  width: 300px;
  height: 400px;
  border-radius: 16px;
}
.level1 {
  background-image: url(/src/assets/images/dungeon_background.jpg);
  background-size: 250%;
}
.level2 {
  background-image: url(/src/assets/images/Forest.png);
  background-size: 150%;
}
.level3 {
  background-image: url(/src/assets/images/dungeon\ 1.png);
  background-size: 150%;
}
.level + p,
.level + p + p {
  text-align: center;
}

.backButton {
  width: 10%;
  position: relative;
  top: 30px;
  margin-left: 60vw;
}
